@import "tailwindcss";


.list:hover .item:not(:hover){
    filter: grayscale(1) blur(10px);
}

.item:hover {
    transform:scale(1.1)

}



.loader::before,
.loader::after{
    animation: rotation-move 5s linear infinite;
}

.loader::after{
    animation-delay:-5s;
}

@keyframes rotation-move{
    100%{
        transform:rotate(360deg);
    }
}

.list{
    @apply transition-all duration-150 
}


.item{
    @apply transition-all duration-150 
}

